body {
    color: 	#000000;
    background-color: 	#303036;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRiB-1gZ57fUGcCDHKidPrVKDwddjJE4gkZdQ&usqp=CAU');
    background-repeat: no repeat;
    background-size: cover;
}

.stTextInput>div>div>input {
    color: 	#000000;
}

.stCheckbox {
    background-color:  #FFFFFF
}

.stSidebarSelectbox {
    color: 	#FFFFFF;
    background-color: #303036
}